body{
    font-family: "Roboto" , sans-serif;
}
.meeting{ 
    display:flex;
}
menu{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:25%;
    min-height: 100vh;
    padding:0;
}
main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #E8EBE4;
    flex-grow: 3;
    }
main img{
    width: 25%;
    border-radius: 10px;
} 
main p{
    margin:0%;
}
.maria{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px #BEC1BB;
}
.maria img{
    width: 40px;
    border-radius: 50px ; 
    margin-left: 20px; 
}
.item-1{
    margin-right: 20px;
}   
.item-2{
    flex-grow: 2;
}
.name{
    margin-bottom: 0px;
}
.message{
    margin-top: 0px;
}
.state{
    margin-top: 0px;
    color: #828485;
}
.item-3{
    display: flex;
    justify-content: flex start;
    flex-direction: row;
    flex-grow:1;
}
.figure-1{
    align-self: center;
    margin-right: 20px;
}
.icon{
    font-size: 20px;
    color:#828485
}
.figure-2{
    align-self: center;
}
.boton{
    flex-grow: 4;
    display: flex;
    justify-content:center;
    align-items: center;
    }
.speaker{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: solid 1px #BEC1BB;
}

.speaker img{
    width: 50px;
    border-radius: 50px ; 
    margin-left: 20px;   
}   
.btn-azulino{
    background-color: #A491D2;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
}
html, body{
margin:0%;
padding:0%
}
.boton p{
    margin-top: 40px;
    margin-bottom: 40px;
}
.titulo{
    font-size: 45px;
    color: #444749;
}
